

body{
  background-color: black;
  height: 1000px;
}

.navbar{
background: rgb(194, 176, 176);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding-right: 15px;
padding-left: 15px;
position: sticky;
position: fixed;
width: 100vw;
display: block;
}

.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  /* position: sticky; */
}

img{
 height: 40px;
 cursor: pointer;
}

li{
list-style: none;
display: inline-block;
text-decoration-line: none;
}

li a{
  color: white;
  font-size: 15px;
  font-weight: normal;
  margin-right: 25px;
  text-decoration-line: none;
}



/* .header-text{
  margin-right: 300px;
} */

button {
  background-color: black;
  color: white;
  margin-left: 10px;
  padding: 5px;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

li a:hover{
  color: red;
}

button:hover{
  color: red;
}



